*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

.inputbox{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 30px;
}

#user-input-box{
    padding: 8px 25px;
    border: none;
    border: 1.5px solid black;
    border-radius: 5px;
    margin: 0px 5px 0px 0px ;
}

.user-submit-button{
    padding: 6px;
    border: none;
    background-color: rgb(91, 92, 91);
    border: 1.5px solid rgb(8, 8, 8);
    color: rgb(253, 250, 250);
}